@{
    ViewData["Title"] = "Política de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Esta página contiene la Política de Privacidad.</p>

<div class="text-center">
    <p style="text-align: justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec metus eu risus lacinia euismod ut maximus lorem. Etiam accumsan nunc augue, at tincidunt orci sodales vel. Sed tempus hendrerit tempus. Nunc eu rhoncus nunc. Quisque id lacinia urna, sed pretium purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed dapibus varius dignissim.
        <br><br>
        Donec eu turpis aliquet, scelerisque risus faucibus, volutpat libero. Nam hendrerit orci et ante sodales, a varius purus imperdiet. Sed a mi sagittis, hendrerit libero non, condimentum sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi ut aliquam turpis, porta imperdiet justo. Duis tempus metus quis dapibus mollis. Mauris et felis eu mauris lacinia eleifend id sed turpis. Sed euismod volutpat ligula non rhoncus. Ut nec ipsum vitae ante accumsan consequat non nec arcu.
    </p>
</div>
